body
{
    background-color: rebeccapurple;
    display: grid;
}

.page
{
    background-color: aqua;
    font-size: larger;
    height: 90%;
    width: 90%;
    min-height: 800px;
    min-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.players
{
    background-color: rgb(73, 73, 85);
    height: 95%;
    width: 32%;
    float:left;
    margin-left: 1%;
    margin-top: 1%;  
}

.random
{
    background-color: blue;
    height: 95%;
    width: 32%;
    margin-left: 1%;
    float:left;
    margin-top: 1%;
}

.roles
{
    background-color: green;
    height: 95%;
    width: 32%;
    float:left;
    margin-left: 1%;
    margin-top: 1%;
}

#playerInputHead
{
    background-color: darkkhaki;
    font-size: larger;
    margin-left: 1%;
    margin-top: 1%;
    font-family: monospace;

}

.start_button_head
{
    width: 100%;
    height: 50px;
    background-color: red;
}

.start_button
{
    background-color: green;
    float: left;
    margin-left: 30%;
    width: 50%;
    height: 80%;
    margin-top: 1%;
    border-radius: 20px;
}

.role_segment
{
    background-color: yellow;
    height: 10%;
    min-height: 50px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.label_role
{
    float: left;
    margin-left: 5%;
    width: 60%;
}

.image_role
{
    background-color: hotpink;
    height: 50px;
    width: 50px;
    float: left;
}

.add_role
{
    background-color: darkkhaki;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 30%;
    float: left;
    width: 90%;
}

.add_role_input
{
    width: 40%;
    height: 100%;
    float: left;
    margin: 1% 1% 1% 1%;
    text-align: center;
    resize: none;
}

.add_role_button
{
    margin-left: 20%;
    margin-top: 1%;
    height: 90%;
    float: left;
}

.role_icons_head
{
    background-color: darkmagenta;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25%;
    width: 90%;
    height: 70%;
}

.playerInserter
{
    margin-left: 5%;
    margin-top: 1%;
}

.player_list
{
    background-color: darkred;
    height: 60%;
    margin: 25% 2% 2% 2%;
}

.role_display_label
{
    text-align: center;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: aqua;
}

.role_image_display
{
    background-color: fuchsia;

}

.player1
{
    width: 98%;
    height: 10%;
    min-height: 50px;
    margin-top: 1%;
    margin-left: 1%;
    background-color: gray;
    float: left;
}

.image_role_center
{
    background-color: hotpink;
    height: 30%;
    min-height: 50px;
    min-width: 50px;
    width: 30%;
    float: left;
    margin: 1% 1% 1% 1%;
    aspect-ratio: 1 / 1;
}

.random_numbers
{
    float: left;
    margin-left: 40%;
}